################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/steem-browserify/obj/Debug/steem-browserify.njsprojResolveAssemblyReference.cache
